.filter{
    margin: 5px;
    h4{
       font-weight: 600;
    }
    select{
       width: 100%;
       padding: 10px;
       border-radius: 5px;
       font-size: 15px;
       margin: 10px 0px;
    }
    button{
        margin-top: 20px;
    }
    button,select,input{
        cursor: pointer;
    }
    button:nth-child(1){
        background: none;
        border: none;
        font-size: 18px;
        margin: 10px 0px;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }
    .category button {
        display: block;
        text-align: left;
        width: 80%;
        height: 2rem;
        font-size: 1.6rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        border-bottom: 1px solid #777;
      }
      .active {
        position: relative;
        padding-left: 1rem;
      }
      
      .active::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 2px;
        height: 100%;
        background-color: var(--color-danger);
      }
      
}