.product {
    .card {
      width: 100%;
      max-width: 500px;
      padding: 1rem;
    }
    form {
        label{
            display: block;
            font-size: 1.4rem;
            font-weight: 500;
        }
        input[type="text"],
        input[type="password"],
        input[type="file"],
        input[type="email"],
        select,
        textarea,
        input[type="number"]{
            width: 100%;
             display: block;
             font-size:1.6rem ;
             font-weight: 300;
             border: 2px solid #777;
             border-radius: 5px;
             padding: 5px;
             margin:5px 5px 5px 5px;
             outline: none;
            }
            .progress {
                background-color: #aaa;
                border: 2px  solid transparent;
                border-radius: 10px;
            }
            .progress-bar {
                background-color: var(--light-blue);
                border: 2px solid transparent;
                border-radius: 10px;
                color: #fff;
                font-size: 1.5rem;
                font-weight: 500;
                padding: 0 1rem;  
            }
    }
}
.group {
    border: 1px solid var(--dark-blue);
    padding: 5px;
  }