.grid{
    width: 24rem;
    height: 36rem;
    margin: 5px;
    border-color:#fff ;
    position: relative;
    .img{
        padding: 10px;
        width: 100%;
        overflow: hidden;
        border-bottom:3px solid #eee ;
        img{
            width: 100%;
            cursor: pointer;
        }
    }
    .details{
       text-align: center;
       margin: 5px;
    }
    button{
        width: 100%;
        margin-top: 25px;
    }
    p{
       color: orangered;
       font-weight: 600;
       font-size: 18px;
    }
    
}
.list {
    width: 100%;
    height: 20rem;
    max-height: 32rem;
    display: flex;
    background-color: #fff;
    margin: 2px 0;
    img{
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .details{
        margin-top: 30px;
        p{
            color: orangered;
            font-weight: 600;
        }
    }
    button{
        margin-top: 10px;
    }
}
@media screen and (max-width:600px){
    img{
        width: 100%;
    }
    .list{
        button{
            margin-top: -40px;
            position: absolute;
        }
    }
}