.footer {
    background-color: var(--dark-blue);
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    height: 8rem;
    align-items: center;
    p {
      color: #fff;
    }
  }